<ng-container *ngIf="autoplayChange$ | async"></ng-container>

<section class="container" fxLayout="column" fxLayoutAlign="center center">
  <div class="machine" fxLayout="row" fxLayoutAlign="center end" fxFlex>
    <div class="room" #room></div>
    <div class="route" #route></div>
  </div>
  <section class="actions" fxLayout="row grid" fxLayoutAlign="center" fxLayoutGap="1vw">
    <button mat-raised-button color="primary" (click)="up()" [disabled]="disable">
      <mat-icon>add</mat-icon>{{ "up" | uppercase }}
    </button>
    <button mat-raised-button color="primary" (click)="down()" [disabled]="disable">
      <mat-icon>remove</mat-icon>{{ "down" | uppercase }}
    </button>
    <button mat-raised-button color="primary" (click)="play()">
      <mat-icon>play_arrow</mat-icon>{{ "start" | uppercase }}
    </button>
    <button mat-raised-button color="warn" (click)="pause()"><mat-icon>stop</mat-icon>{{ "pause" | uppercase }}</button>
    <button mat-raised-button color="accent" (click)="restart()">
      <mat-icon>refresh</mat-icon>{{ "restart" | uppercase }}
    </button>
    <button mat-raised-button color="accent" (click)="reverse()">
      <mat-icon>restart_alt</mat-icon>{{ "reverse" | uppercase }}
    </button>
    <mat-slide-toggle [formControl]="autoplay" [style.color]="'white'">{{ "auto play" | uppercase }}</mat-slide-toggle>
  </section>
</section>
